$pc-media: 1279px;
$tab-media: 768px;
$tabs-media: 767px;

@mixin phone-width() {
  @media all and (max-width: $tabs-media) {
    @content;
  }
}

@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

@mixin pad-width() {
  @media all and (min-width: $tab-media) {
    @content;
  }
}

@font-face {
  font-family: "Avenir__Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Avenir__Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Avenir__Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 100;
  font-style: normal;
}

//style start from below-----------------------------------------

body {
  margin: 0;
}

.header {
  background-color: #323232;
  padding-top: 2rem;

  font-family: "Avenir__Regular";

  &__left {
    text-align: center;

    & a {
      font-size: 2.8rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer {
  padding-left: 2rem;
  font-family: "Avenir__Demi";
  background-color: #323232;
  color: white;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;

  &__title {
    font-size: 300%;
    padding-bottom: 2rem;
  }

  &__media {
    display: flex;
    flex-direction: row;
  }

  &__media img {
    padding-right: 4rem;
    height: 2.5rem;
    padding-bottom: 1rem;
  }

  &__bandsite {
    font-size: 270%;
    font-family: "Avenir__Regular";
  }

  &__copyright {
    font-family: "Avenir__Regular";
    padding-top: 1.5rem;
    font-size: 130%;
  }
}

.hero {
  position: relative;

  &__img {
    display: inline-block;
    width: 100%;
    max-height: 23rem;
    overflow: hidden;
    object-fit: cover;
  }

  &__word {
    position: absolute;
    top: 40%;
    left: 4%;
    color: white;
    font-size: 3rem;
    font-family: "Avenir__Demi";
  }
}

.musician {
  padding: 2.5rem 1.3rem;
  color: #323232;
  font-family: "Avenir__Demi";

  &__title {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }

  & img {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  &__quote {
    padding-top: 1.5rem;
    font-size: 4.3vw;
    line-height: 160%;
  }

  &__quoteauthor {
    padding-top: 1rem;
    font-size: 4.3vw;
  }

  &__paragraphtitle {
    font-family: "Avenir__Regular";
    padding-top: 3.3rem;
    font-size: 4.3vw;
    font-weight: bolder;
  }

  &__paragraph {
    font-family: "Avenir__Regular";
    padding-top: 0.3rem;
    font-size: 4.1vw;
    line-height: 138%;
  }
}

.gallery {
  background-color: #fafafa;

  &__title {
    color: #323232;
    font-family: "Avenir__Demi";
    font-size: 7.5vw;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.7rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin: 0 1.3rem;
    padding-bottom: 1rem;
  }

  &__item {
    text-align: center;
    margin: 1rem 0;
    padding: 0rem 0.7rem;
    font-size: 5rem;
    border-radius: 0.3rem;
  }
}

.conversation {
  display: flex;

  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e1e1e1;

  &__title {
    font-family: "Avenir__Demi";
    font-size: 280%;
    color: #323232;
    padding-left: 2rem;
  }

  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: 2.2rem;
    margin-right: 2rem;
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__input {
      font-family: "Avenir__Regular";
      border: 1.5px #e1e1e1 solid;
      border-radius: 0.4rem;
      background-color: #fafafa;
      margin-bottom: 2.2rem;
      height: 4rem;

      &::placeholder {
        color: #323232;
        font-size: 1.5rem;
      }
    }

    &__label {
      font-family: "Avenir__Demi";
      font-size: 1.2rem;
      color: #afafaf;
      padding-bottom: 0.8rem;
    }

    &__textarea {
      font-family: "Avenir__Regular";
      border: 1.5px #e1e1e1 solid;
      border-radius: 0.4rem;
      background-color: #fafafa;
      height: 11rem;
      margin-bottom: 2rem;

      &::placeholder {
        color: #323232;
        font-size: 1.5rem;
      }
    }

    &__btn {
      width: 100%;
      background-color: #323232;
      color: white;
      height: 5rem;
      font-family: "Avenir__Demi";
      font-size: 2rem;
      border-radius: 10px;
      border: none;
    }
  }
}

.comment {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Avenir__Regular";

  &__sole {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 2px solid #e1e1e1;

    & img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 2rem;
    }

    &__rightblock {
      width: 100%;
      word-break: break-word;

      &__top {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        padding-bottom: 1rem;

        &-name {
          font-family: "Avenir__Demi";
          color: #323232;
        }

        &-date {
          color: #afafaf;
        }
      }

      &__words {
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
    }
  }
}

// -----------------------------------------------------------------------
// phone-width media display----------------------------------------------
@include phone-width {
  .header {
    // padding-bottom: 2rem;

    &__right {
      padding-top: 1rem;
      & a {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
  }

  .currentpage {
    padding-bottom: 2rem;
    border-bottom: 5px solid white;
  }

  .musician img {
    max-height: 18.5rem;
  }

  .footer__blockchild p {
    font-family: "Avenir__Regular";
    font-size: 150%;
    padding-bottom: 1.5rem;
  }
}

// pad-width media display--------------------------------
@include pad-width {
  a {
    font-size: 1rem;
  }

  .header {
    font-family: "Avenir__Regular";
    display: flex;

    &__left {
      margin-left: 3rem;
      margin-right: 2rem;

      & a {
        font-size: 1.5rem;
      }
    }

    &__right {
      padding-top: 0.3rem;
      padding-bottom: 1.8rem;

      & > a {
        margin-left: 3rem;
      }
    }
  }

  .currentpage {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1.8rem;
    font-family: "Avenir__Demi";
  }

  .hero {
    &__img {
      max-height: 50rem;
    }

    &__word {
      font-size: 7.8vw;
    }
  }

  .musician {
    padding: 0 6rem;
    padding-top: 7rem;
    padding-bottom: 1rem;
    position: relative;

    &__title {
      font-size: 2.5rem;
      position: absolute;
      top: 2rem;
      left: 2rem;
    }

    &__paragraph {
      display: flex;
      width: 100%;
    }

    &__quote {
      font-size: 2.8vw;
      line-height: 130%;
    }

    &__quoteauthor {
      font-size: 2vw;
    }

    &__paragraphtitle {
      font-family: "Avenir__Demi";
      font-size: 3vw;
      font-weight: bolder;
    }

    &__paragraph {
      font-size: 2vw;
      gap: 4rem;
    }
  }

  .gallery {
    &__items {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;

      & .gallery__item {
        width: 30%;
        margin: 3vw 0;
      }
    }

    &__title {
      padding-left: 5%;
      font-size: 220%;
    }
  }

  .comment,
  .conversation {
    margin: 0 6rem;
  }

  .footer {
    &__title {
      font-size: 225%;
    }

    &__media {
      margin-left: 3rem;
      margin-top: 0.8rem;
    }

    &__media img {
      padding-right: 1.5rem;
      height: 1.5rem;
      padding-bottom: 1rem;
    }

    &__blockchild {
      padding-right: 2rem;

      & h2 {
        font-size: 100%;
        padding-bottom: 1rem;
      }

      & p {
        font-family: "Avenir__Regular";
        font-size: 100%;
        padding-bottom: 1rem;
      }
    }

    &__bandsite {
      position: absolute;
      top: 3.8rem;
      right: 3rem;
      font-size: 150%;
    }

    &__topbar {
      display: flex;
    }

    &__block {
      display: flex;
    }

    &__copyright {
      font-size: 100%;
    }
  }
}

// pc-width media display--------------------------------
@include pc-width {
  .header {
    &__left {
      margin-left: 9rem;
    }
  }

  .hero {
    &__word {
      font-size: 5vw;
      padding-left: 5rem;
    }
  }

  .musician {
    padding: 0 15rem;
    padding-top: 7rem;
    padding-bottom: 2rem;

    &__title {
      left: 9rem;
    }

    &__quote {
      font-size: 1.8vw;
      padding-right: 8rem;
    }

    &__quoteauthor {
      font-size: 1.25vw;
    }

    &__paragraphtitle {
      font-size: 1.8vw;
    }

    &__paragraph {
      font-size: 1.1vw;
      line-height: 160%;
    }
  }

  .gallery {
    &__items {
      & .gallery__item {
        width: 30%;
        margin: 1vw 0;
      }
      margin: 0 5.5rem;
    }

    &__title {
      padding-left: 7.5rem;
    }
  }

  .comment,
  .conversation {
    margin: 0 20rem;
  }

  .footer {
    padding-left: 7.5rem;

    &__title {
      font-size: 250%;
    }

    &__media {
      margin-left: 4rem;

      & img {
        padding-right: 2.5rem;
      }
    }

    &__block {
      padding-right: 10vw;
    }

    &__blockchild {
      padding-right: 4.5rem;
    }

    &__bandsite {
      right: 10rem;
    }
  }
}
