@font-face {
  font-family: "Avenir__Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Avenir__Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Avenir__Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 100;
  font-style: normal;
}
body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.header {
  background-color: #323232;
  padding-top: 2rem;
  font-family: "Avenir__Regular";
}
.header__left {
  text-align: center;
}
.header__left a {
  font-size: 2.8rem;
}
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero {
  position: relative;
}
.hero__img {
  display: inline-block;
  width: 100%;
  max-height: 35rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(65%);
}
.hero__title {
  position: absolute;
  top: 13%;
  left: 4%;
  color: white;
  font-size: 1.8rem;
  font-family: "Avenir__Demi";
  z-index: 999;
}
.hero__word {
  position: absolute;
  top: 28%;
  left: 4%;
  color: white;
  font-size: 3rem;
  font-family: "Avenir__Demi";
  padding-right: 10rem;
  z-index: 999;
}
.hero__music {
  position: absolute;
  width: 90%;
  top: 55%;
  left: 4%;
}

.shows__title {
  margin: 4rem 2rem;
  font-size: 3.5rem;
  font-family: "Avenir__Demi";
}
.shows-label {
  font-family: "Avenir__Demi";
  color: #afafaf;
}
.shows__ticket__info {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #afafaf;
  margin-bottom: 1.5rem;
}
.shows__ticket__info-date {
  margin-left: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.shows__ticket__info-date div {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: "Avenir__Demi";
}
.shows__ticket__info-venue {
  margin-left: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.shows__ticket__info-venue div {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-family: "Avenir__Regular";
}
.shows__ticket__info-location {
  margin-left: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.shows__ticket__info-location div {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-family: "Avenir__Regular";
}
.shows__ticket__info-buy {
  margin-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.shows__ticket__info-buy button {
  width: 100%;
  background-color: #323232;
  color: white;
  height: 5rem;
  font-family: "Avenir__Demi";
  font-size: 2rem;
  border-radius: 5px;
  border: none;
}

.footer {
  padding-left: 2rem;
  font-family: "Avenir__Demi";
  background-color: #323232;
  color: white;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
}
.footer__title {
  font-size: 300%;
  padding-bottom: 2rem;
}
.footer__media {
  display: flex;
  flex-direction: row;
}
.footer__media img {
  padding-right: 4rem;
  height: 2.5rem;
  padding-bottom: 1rem;
}
.footer__bandsite {
  font-size: 270%;
  font-family: "Avenir__Regular";
}
.footer__copyright {
  font-family: "Avenir__Regular";
  padding-top: 1.5rem;
  font-size: 130%;
}

@media all and (max-width: 767px) {
  .header__right {
    padding-top: 1rem;
  }
  .header__right a {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .currentpage {
    padding-bottom: 2rem;
    border-bottom: 5px solid white;
  }
  .footer__blockchild p {
    font-family: "Avenir__Regular";
    font-size: 150%;
    padding-bottom: 1.5rem;
  }
}
@media all and (min-width: 768px) {
  a {
    font-size: 1rem;
  }
  .header {
    font-family: "Avenir__Regular";
    display: flex;
  }
  .header__left {
    margin-left: 3rem;
    margin-right: 2rem;
  }
  .header__left a {
    font-size: 1.5rem;
  }
  .header__right {
    padding-top: 0.3rem;
    padding-bottom: 1.8rem;
  }
  .header__right > a {
    margin-left: 3rem;
  }
  .currentpage {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1.8rem;
    font-family: "Avenir__Demi";
  }
  .hero__img {
    max-height: 35rem;
  }
  .hero__title {
    top: 9%;
    left: 6%;
    font-size: 1.7rem;
  }
  .hero__word {
    top: 16%;
    left: 6%;
    font-size: 4rem;
    font-family: "Avenir__Demi";
    padding-right: 12rem;
    z-index: 999;
  }
  .hero__music {
    width: 60%;
    top: 50%;
    left: 6%;
    height: 9rem;
  }
  .shows__title {
    margin-left: 3rem;
    font-size: 2.3rem;
  }
  .shows__ticket__info {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .shows__ticket__info-date {
    font-size: 1rem;
    width: 10rem;
  }
  .shows__ticket__info-date div {
    font-size: 1rem;
  }
  .shows__ticket__info-venue {
    font-size: 1rem;
    width: 9rem;
  }
  .shows__ticket__info-venue div {
    font-size: 1rem;
  }
  .shows__ticket__info-location {
    font-size: 1rem;
  }
  .shows__ticket__info-location div {
    font-size: 1rem;
  }
  .shows__ticket__info-buy {
    padding-top: 1.4rem;
  }
  .shows__ticket__info-buy button {
    width: 9.8rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .hide-label {
    display: none;
  }
  .hide-label-btn {
    padding-top: 0.2rem;
  }
  .footer__title {
    font-size: 225%;
  }
  .footer__media {
    margin-left: 3rem;
    margin-top: 0.8rem;
  }
  .footer__media img {
    padding-right: 1.5rem;
    height: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer__blockchild {
    padding-right: 2rem;
  }
  .footer__blockchild h2 {
    font-size: 100%;
    padding-bottom: 1rem;
  }
  .footer__blockchild p {
    font-family: "Avenir__Regular";
    font-size: 100%;
    padding-bottom: 1rem;
  }
  .footer__bandsite {
    position: absolute;
    top: 3.8rem;
    right: 3rem;
    font-size: 150%;
  }
  .footer__topbar {
    display: flex;
  }
  .footer__block {
    display: flex;
  }
  .footer__copyright {
    font-size: 100%;
  }
}
@media all and (min-width: 1279px) {
  .header__left {
    margin-left: 9rem;
  }
  .hero__title {
    top: 25%;
    left: 0%;
    padding-left: 9rem;
  }
  .hero__word {
    top: 35%;
    font-size: 3.5rem;
    left: 0%;
    padding-left: 9rem;
    margin-right: 40vw;
  }
  .hero__music {
    width: 38%;
    top: 35%;
    left: 51%;
  }
  .shows {
    display: flex;
  }
  .shows__title {
    margin-left: 9rem;
    margin-right: 5rem;
    margin-top: 2rem;
  }
  .shows__ticket {
    padding-top: 4rem;
    margin-right: 6rem;
    flex-grow: 1;
  }
  .footer {
    padding-left: 7.5rem;
  }
  .footer__title {
    font-size: 250%;
  }
  .footer__media {
    margin-left: 4rem;
  }
  .footer__media img {
    padding-right: 2.5rem;
  }
  .footer__block {
    padding-right: 10vw;
  }
  .footer__blockchild {
    padding-right: 4.5rem;
  }
  .footer__bandsite {
    right: 10rem;
  }
}/*# sourceMappingURL=shows.css.map */